@page "/"

@rendermode InteractiveServer
@inject IJSRuntime JS

<div class="pedido-container">

    <div class="header">
        <h1>NUEVO PEDIDO</h1>
        <p>Complete todos los campos requeridos para procesar su transacción de forma segura.</p>
    </div>

    <div class="layout">

        <!-- COLUMNA IZQUIERDA -->
        <div class="col-left">

            <!-- DATOS CLIENTE -->
            <div class="card card-wide">
                <h2><i class="bi bi-person icon"></i> DATOS CLIENTE</h2>

                <div class="grid-2">
                    <div>
                        <label>NIT</label>
                        <input type="number" min="1" @bind="pedido.NIT" />
                    </div>

                    <div>
                        <label>Nombre Completo</label>
                        <input type="text" @bind="pedido.NombreCompleto" />
                    </div>

                    <div>
                        <label>Teléfono</label>
                        <input type="text" @bind="pedido.Telefono" />
                    </div>

                    <div>
                        <label>Correo Electrónico</label>
                        <input type="email" @bind="pedido.Correo" />
                    </div>
                </div>
            </div>

            <!-- DETALLE PRODUCTO -->
            <div class="card card-wide">
                <h2><i class="bi bi-box-seam icon"></i> DETALLE PRODUCTO</h2>

                <div class="grid-3">
                    <div>
                        <label>Producto</label>
                        <select @bind="pedido.IdProducto">
                            <option value="">Seleccione</option>
                            @foreach (var producto in ListaProductos)
                            {
                                <option value="@producto.IdProducto">
                                    @producto.Nombre - Q @producto.Precio
                                </option>
                            }
                        </select>
                    </div>

                    <div>
                        <label>Cantidad</label>
                        <input type="number" min="1" @bind="pedido.Cantidad" />
                    </div>

                    <div>
                        <label>Tipo de Pedido</label>
                        <select @bind="pedido.TipoPedido">
                            <option value="">Seleccione</option>

                            <option value="Normal">Normal</option>

                            @if (pedido.MetodoEntrega == "Domicilio")
                            {
                                <option value="Express">Express</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <!-- INFORMACIÓN DE ENVÍO -->
            <div class="card card-wide">
                <h2><i class="bi bi-truck icon"></i> INFORMACIÓN DE ENVÍO</h2>

                <div class="grid-2">
                    <div>
                        <label>Método de Entrega</label>
                        <select @bind="pedido.MetodoEntrega">
                            <option value="">Seleccione</option>
                            <option value="Domicilio">A Domicilio</option>
                            <option value="Tienda">Recoger en Tienda</option>
                        </select>
                    </div>
                </div>

                @if (pedido.MetodoEntrega == "Domicilio")
                {
                    <div class="grid-2">
                        <div>
                            <label>Ciudad/Municipio</label>
                            <input type="text" @bind="pedido.Ciudad" />
                        </div>
                    </div>

                    <div class="grid-2">
                        <div>
                            <label>Dirección de Entrega</label>
                            <input type="text" @bind="pedido.Direccion" />
                        </div>

                        <div>
                            <label>Referencia</label>
                            <input type="text" @bind="pedido.Referencia" />
                        </div>
                    </div>
                }
                <div>
                    <button class="btn-primary" @onclick="ConfirmarDatos"> Confirmar Datos</button>
                    @if (!string.IsNullOrEmpty(MensajeResultado))
                    {
                        <div style="color:red; margin-top:10px;">
                            @MensajeResultado
                        </div>
                    }
                </div>
            </div>

        </div>

        <!-- COLUMNA DERECHA -->
        <div class="col-right">

            <!-- MÉTODO DE PAGO -->
            <div class="card card-narrow">
                <h2><i class="bi bi-credit-card icon"></i> MÉTODO DE PAGO</h2>
                <label>Tipo de Pago</label>
                <select id="filter-payment" @bind="TipoPagoSeleccionado">
                    <option value="">Seleccione</option>
                    <option value="efectivo">Efectivo</option>
                    <option value="tarjeta">Pago con Tarjeta</option>
                    <option value="transferencia">Transferencia</option>
                </select>

                @if (TipoPagoSeleccionado == "tarjeta")
                {
                    <div class="mt-3">
                        <label>Número de Tarjeta</label>
                        <input type="text" @bind="NumeroTarjeta" placeholder="Ingrese número de tarjeta" />

                        @if (MostrarErrores && string.IsNullOrWhiteSpace(NumeroTarjeta))
                        {
                            <small style="color:red">Debe ingresar número de tarjeta</small>
                        }
                    </div>
                }

                @if (TipoPagoSeleccionado == "transferencia")
                {
                    <div class="mt-3">
                        <label>Número de Transferencia</label>
                        <input type="text" @bind="NumeroTransferencia" placeholder="Ingrese número de transferencia" />

                        @if (MostrarErrores && string.IsNullOrWhiteSpace(NumeroTransferencia))
                        {
                            <small style="color:red">Debe ingresar número de transferencia</small>
                        }
                    </div>
                }
                <div class="info-box mt-3">
                    <i class="bi bi-info-circle-fill info-icon"></i>
                    <span>Sus datos están protegidos con encriptación de grado bancario.</span>
                </div>

            </div>

            <!-- RESUMEN DE ORDEN -->
            <div class="card card-narrow">
                <h2><i class="bi bi-receipt icon"></i> RESUMEN DE ORDEN</h2>

                <div class="summary-row">
                    <span>Subtotal</span>
                    <input value="@Subtotal" readonly />

                </div>

                <div class="summary-row">
                    <span>Envío</span>
                    <input value="@Envio" readonly />

                </div>

                <div class="summary-row">
                    <span>Impuestos (IVA)</span>
                    <input value="@IVA" readonly />

                </div>

                <div class="summary-row total">
                    <span>TOTAL</span>
                    <input value="@Total" readonly />
                </div>


                @if (MostrarBotonTransaccion)
                {
                    <button class="btn-primary" @onclick="RealizarTransaccion" @onclick="ConfirmarDatos">
                        Realizar Transacción

                    </button>
                    Console.WriteLine("Botón");
                }

            </div>

        </div>

    </div>

</div>